.swatched {
  display: block; }
  .swatched:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .swatched li {
    width: 4.7619%;
    height: 60px;
    float: left;
    list-style: none outside none; }

ul.red li:nth-child(10) {
  background-color: #d41643; }
  ul.red li:nth-child(10):hover:before {
    content: "#d41643";
    color: #1c0309;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(9) {
  background-color: #e71d4d; }
  ul.red li:nth-child(9):hover:before {
    content: "#e71d4d";
    color: #330510;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(8) {
  background-color: #ea345f; }
  ul.red li:nth-child(8):hover:before {
    content: "#ea345f";
    color: #4a0817;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(7) {
  background-color: #ec4b71; }
  ul.red li:nth-child(7):hover:before {
    content: "#ec4b71";
    color: #610a1f;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(6) {
  background-color: #ee6283; }
  ul.red li:nth-child(6):hover:before {
    content: "#ee6283";
    color: #780d26;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(5) {
  background-color: #f17995; }
  ul.red li:nth-child(5):hover:before {
    content: "#f17995";
    color: #8f0f2d;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(4) {
  background-color: #f390a8; }
  ul.red li:nth-child(4):hover:before {
    content: "#f390a8";
    color: #a61235;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(3) {
  background-color: #f6a7ba; }
  ul.red li:nth-child(3):hover:before {
    content: "#f6a7ba";
    color: #bd143c;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(2) {
  background-color: #f8becc; }
  ul.red li:nth-child(2):hover:before {
    content: "#f8becc";
    color: #d41643;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(1) {
  background-color: #fbd5de; }
  ul.red li:nth-child(1):hover:before {
    content: "#fbd5de";
    color: #e71d4d;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(11) {
  background-color: #a61235; }
  ul.red li:nth-child(11):hover:before {
    content: "#a61235";
    color: #f390a8;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(12) {
  background-color: #8f0f2d; }
  ul.red li:nth-child(12):hover:before {
    content: "#8f0f2d";
    color: #f17995;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(13) {
  background-color: #780d26; }
  ul.red li:nth-child(13):hover:before {
    content: "#780d26";
    color: #ee6283;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(14) {
  background-color: #610a1f; }
  ul.red li:nth-child(14):hover:before {
    content: "#610a1f";
    color: #ec4b71;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(15) {
  background-color: #4a0817; }
  ul.red li:nth-child(15):hover:before {
    content: "#4a0817";
    color: #ea345f;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(16) {
  background-color: #330510; }
  ul.red li:nth-child(16):hover:before {
    content: "#330510";
    color: #e71d4d;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(17) {
  background-color: #1c0309; }
  ul.red li:nth-child(17):hover:before {
    content: "#1c0309";
    color: #d41643;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(18) {
  background-color: #050001; }
  ul.red li:nth-child(18):hover:before {
    content: "#050001";
    color: #bd143c;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(19) {
  background-color: black; }
  ul.red li:nth-child(19):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.red li:nth-child(20) {
  background-color: black; }
  ul.red li:nth-child(20):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(10) {
  background-color: #f06f14; }
  ul.orange li:nth-child(10):hover:before {
    content: "#f06f14";
    color: #351803;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(9) {
  background-color: #f17e2c; }
  ul.orange li:nth-child(9):hover:before {
    content: "#f17e2c";
    color: #4d2305;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(8) {
  background-color: #f38c44; }
  ul.orange li:nth-child(8):hover:before {
    content: "#f38c44";
    color: #652d06;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(7) {
  background-color: #f49b5c; }
  ul.orange li:nth-child(7):hover:before {
    content: "#f49b5c";
    color: #7c3808;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(6) {
  background-color: #f6aa74; }
  ul.orange li:nth-child(6):hover:before {
    content: "#f6aa74";
    color: #94430a;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(5) {
  background-color: #f8b88c; }
  ul.orange li:nth-child(5):hover:before {
    content: "#f8b88c";
    color: #ac4e0b;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(4) {
  background-color: #f9c7a4; }
  ul.orange li:nth-child(4):hover:before {
    content: "#f9c7a4";
    color: #c4590d;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(3) {
  background-color: #fbd6bc; }
  ul.orange li:nth-child(3):hover:before {
    content: "#fbd6bc";
    color: #dc630e;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(2) {
  background-color: #fce4d4; }
  ul.orange li:nth-child(2):hover:before {
    content: "#fce4d4";
    color: #f06f14;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(1) {
  background-color: #fef3ec; }
  ul.orange li:nth-child(1):hover:before {
    content: "#fef3ec";
    color: #f17e2c;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(11) {
  background-color: #c4590d; }
  ul.orange li:nth-child(11):hover:before {
    content: "#c4590d";
    color: #f9c7a4;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(12) {
  background-color: #ac4e0b; }
  ul.orange li:nth-child(12):hover:before {
    content: "#ac4e0b";
    color: #f8b88c;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(13) {
  background-color: #94430a; }
  ul.orange li:nth-child(13):hover:before {
    content: "#94430a";
    color: #f6aa74;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(14) {
  background-color: #7c3808; }
  ul.orange li:nth-child(14):hover:before {
    content: "#7c3808";
    color: #f49b5c;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(15) {
  background-color: #652d06; }
  ul.orange li:nth-child(15):hover:before {
    content: "#652d06";
    color: #f38c44;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(16) {
  background-color: #4d2305; }
  ul.orange li:nth-child(16):hover:before {
    content: "#4d2305";
    color: #f17e2c;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(17) {
  background-color: #351803; }
  ul.orange li:nth-child(17):hover:before {
    content: "#351803";
    color: #f06f14;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(18) {
  background-color: #1d0d02; }
  ul.orange li:nth-child(18):hover:before {
    content: "#1d0d02";
    color: #dc630e;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(19) {
  background-color: #050200; }
  ul.orange li:nth-child(19):hover:before {
    content: "#050200";
    color: #c4590d;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.orange li:nth-child(20) {
  background-color: black; }
  ul.orange li:nth-child(20):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(10) {
  background-color: #f7d012; }
  ul.yellow li:nth-child(10):hover:before {
    content: "#f7d012";
    color: #3b3102;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(9) {
  background-color: #f8d52a; }
  ul.yellow li:nth-child(9):hover:before {
    content: "#f8d52a";
    color: #544603;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(8) {
  background-color: #f9da43; }
  ul.yellow li:nth-child(8):hover:before {
    content: "#f9da43";
    color: #6d5b03;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(7) {
  background-color: #fadf5c; }
  ul.yellow li:nth-child(7):hover:before {
    content: "#fadf5c";
    color: #856f04;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(6) {
  background-color: #fbe474; }
  ul.yellow li:nth-child(6):hover:before {
    content: "#fbe474";
    color: #9e8405;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(5) {
  background-color: #fbe98d; }
  ul.yellow li:nth-child(5):hover:before {
    content: "#fbe98d";
    color: #b79906;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(4) {
  background-color: #fceea6; }
  ul.yellow li:nth-child(4):hover:before {
    content: "#fceea6";
    color: #d0ad07;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(3) {
  background-color: #fdf2bf; }
  ul.yellow li:nth-child(3):hover:before {
    content: "#fdf2bf";
    color: #e8c207;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(2) {
  background-color: #fef7d7; }
  ul.yellow li:nth-child(2):hover:before {
    content: "#fef7d7";
    color: #f7d012;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(1) {
  background-color: #fffcf0; }
  ul.yellow li:nth-child(1):hover:before {
    content: "#fffcf0";
    color: #f8d52a;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(11) {
  background-color: #d0ad07; }
  ul.yellow li:nth-child(11):hover:before {
    content: "#d0ad07";
    color: #fceea6;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(12) {
  background-color: #b79906; }
  ul.yellow li:nth-child(12):hover:before {
    content: "#b79906";
    color: #fbe98d;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(13) {
  background-color: #9e8405; }
  ul.yellow li:nth-child(13):hover:before {
    content: "#9e8405";
    color: #fbe474;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(14) {
  background-color: #856f04; }
  ul.yellow li:nth-child(14):hover:before {
    content: "#856f04";
    color: #fadf5c;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(15) {
  background-color: #6d5b03; }
  ul.yellow li:nth-child(15):hover:before {
    content: "#6d5b03";
    color: #f9da43;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(16) {
  background-color: #544603; }
  ul.yellow li:nth-child(16):hover:before {
    content: "#544603";
    color: #f8d52a;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(17) {
  background-color: #3b3102; }
  ul.yellow li:nth-child(17):hover:before {
    content: "#3b3102";
    color: #f7d012;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(18) {
  background-color: #231d01; }
  ul.yellow li:nth-child(18):hover:before {
    content: "#231d01";
    color: #e8c207;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(19) {
  background-color: #0a0800; }
  ul.yellow li:nth-child(19):hover:before {
    content: "#0a0800";
    color: #d0ad07;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.yellow li:nth-child(20) {
  background-color: black; }
  ul.yellow li:nth-child(20):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(10) {
  background-color: #83eb0a; }
  ul.green li:nth-child(10):hover:before {
    content: "#83eb0a";
    color: #162702;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(9) {
  background-color: #8ff519; }
  ul.green li:nth-child(9):hover:before {
    content: "#8ff519";
    color: #234003;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(8) {
  background-color: #9bf631; }
  ul.green li:nth-child(8):hover:before {
    content: "#9bf631";
    color: #315804;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(7) {
  background-color: #a7f74a; }
  ul.green li:nth-child(7):hover:before {
    content: "#a7f74a";
    color: #3f7005;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(6) {
  background-color: #b3f862; }
  ul.green li:nth-child(6):hover:before {
    content: "#b3f862";
    color: #4c8906;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(5) {
  background-color: #bff97b; }
  ul.green li:nth-child(5):hover:before {
    content: "#bff97b";
    color: #5aa107;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(4) {
  background-color: #cbfa93; }
  ul.green li:nth-child(4):hover:before {
    content: "#cbfa93";
    color: #67ba08;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(3) {
  background-color: #d7fbac; }
  ul.green li:nth-child(3):hover:before {
    content: "#d7fbac";
    color: #75d209;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(2) {
  background-color: #e2fdc4; }
  ul.green li:nth-child(2):hover:before {
    content: "#e2fdc4";
    color: #83eb0a;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(1) {
  background-color: #eefedd; }
  ul.green li:nth-child(1):hover:before {
    content: "#eefedd";
    color: #8ff519;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(11) {
  background-color: #67ba08; }
  ul.green li:nth-child(11):hover:before {
    content: "#67ba08";
    color: #cbfa93;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(12) {
  background-color: #5aa107; }
  ul.green li:nth-child(12):hover:before {
    content: "#5aa107";
    color: #bff97b;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(13) {
  background-color: #4c8906; }
  ul.green li:nth-child(13):hover:before {
    content: "#4c8906";
    color: #b3f862;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(14) {
  background-color: #3f7005; }
  ul.green li:nth-child(14):hover:before {
    content: "#3f7005";
    color: #a7f74a;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(15) {
  background-color: #315804; }
  ul.green li:nth-child(15):hover:before {
    content: "#315804";
    color: #9bf631;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(16) {
  background-color: #234003; }
  ul.green li:nth-child(16):hover:before {
    content: "#234003";
    color: #8ff519;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(17) {
  background-color: #162702; }
  ul.green li:nth-child(17):hover:before {
    content: "#162702";
    color: #83eb0a;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(18) {
  background-color: #080f01; }
  ul.green li:nth-child(18):hover:before {
    content: "#080f01";
    color: #75d209;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(19) {
  background-color: black; }
  ul.green li:nth-child(19):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.green li:nth-child(20) {
  background-color: black; }
  ul.green li:nth-child(20):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(10) {
  background-color: #16c8df; }
  ul.blue li:nth-child(10):hover:before {
    content: "#16c8df";
    color: #042125;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(9) {
  background-color: #25d3e9; }
  ul.blue li:nth-child(9):hover:before {
    content: "#25d3e9";
    color: #06363c;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(8) {
  background-color: #3cd8ec; }
  ul.blue li:nth-child(8):hover:before {
    content: "#3cd8ec";
    color: #084b53;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(7) {
  background-color: #53dcee; }
  ul.blue li:nth-child(7):hover:before {
    content: "#53dcee";
    color: #0b606b;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(6) {
  background-color: #6be1f0; }
  ul.blue li:nth-child(6):hover:before {
    content: "#6be1f0";
    color: #0d7582;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(5) {
  background-color: #82e6f3; }
  ul.blue li:nth-child(5):hover:before {
    content: "#82e6f3";
    color: #0f8999;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(4) {
  background-color: #99eaf5; }
  ul.blue li:nth-child(4):hover:before {
    content: "#99eaf5";
    color: #129eb0;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(3) {
  background-color: #b0eff7; }
  ul.blue li:nth-child(3):hover:before {
    content: "#b0eff7";
    color: #14b3c7;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(2) {
  background-color: #c7f4f9; }
  ul.blue li:nth-child(2):hover:before {
    content: "#c7f4f9";
    color: #16c8df;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(1) {
  background-color: #def8fc; }
  ul.blue li:nth-child(1):hover:before {
    content: "#def8fc";
    color: #25d3e9;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(11) {
  background-color: #129eb0; }
  ul.blue li:nth-child(11):hover:before {
    content: "#129eb0";
    color: #99eaf5;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(12) {
  background-color: #0f8999; }
  ul.blue li:nth-child(12):hover:before {
    content: "#0f8999";
    color: #82e6f3;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(13) {
  background-color: #0d7582; }
  ul.blue li:nth-child(13):hover:before {
    content: "#0d7582";
    color: #6be1f0;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(14) {
  background-color: #0b606b; }
  ul.blue li:nth-child(14):hover:before {
    content: "#0b606b";
    color: #53dcee;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(15) {
  background-color: #084b53; }
  ul.blue li:nth-child(15):hover:before {
    content: "#084b53";
    color: #3cd8ec;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(16) {
  background-color: #06363c; }
  ul.blue li:nth-child(16):hover:before {
    content: "#06363c";
    color: #25d3e9;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(17) {
  background-color: #042125; }
  ul.blue li:nth-child(17):hover:before {
    content: "#042125";
    color: #16c8df;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(18) {
  background-color: #010c0e; }
  ul.blue li:nth-child(18):hover:before {
    content: "#010c0e";
    color: #14b3c7;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(19) {
  background-color: black; }
  ul.blue li:nth-child(19):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.blue li:nth-child(20) {
  background-color: black; }
  ul.blue li:nth-child(20):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(10) {
  background-color: #a216df; }
  ul.purple li:nth-child(10):hover:before {
    content: "#a216df";
    color: #1b0425;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(9) {
  background-color: #ae25e9; }
  ul.purple li:nth-child(9):hover:before {
    content: "#ae25e9";
    color: #2c063c;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(8) {
  background-color: #b63cec; }
  ul.purple li:nth-child(8):hover:before {
    content: "#b63cec";
    color: #3d0853;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(7) {
  background-color: #bf53ee; }
  ul.purple li:nth-child(7):hover:before {
    content: "#bf53ee";
    color: #4d0b6b;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(6) {
  background-color: #c86bf0; }
  ul.purple li:nth-child(6):hover:before {
    content: "#c86bf0";
    color: #5e0d82;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(5) {
  background-color: #d082f3; }
  ul.purple li:nth-child(5):hover:before {
    content: "#d082f3";
    color: #6f0f99;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(4) {
  background-color: #d999f5; }
  ul.purple li:nth-child(4):hover:before {
    content: "#d999f5";
    color: #8012b0;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(3) {
  background-color: #e2b0f7; }
  ul.purple li:nth-child(3):hover:before {
    content: "#e2b0f7";
    color: #9114c7;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(2) {
  background-color: #eac7f9; }
  ul.purple li:nth-child(2):hover:before {
    content: "#eac7f9";
    color: #a216df;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(1) {
  background-color: #f3defc; }
  ul.purple li:nth-child(1):hover:before {
    content: "#f3defc";
    color: #ae25e9;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(11) {
  background-color: #8012b0; }
  ul.purple li:nth-child(11):hover:before {
    content: "#8012b0";
    color: #d999f5;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(12) {
  background-color: #6f0f99; }
  ul.purple li:nth-child(12):hover:before {
    content: "#6f0f99";
    color: #d082f3;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(13) {
  background-color: #5e0d82; }
  ul.purple li:nth-child(13):hover:before {
    content: "#5e0d82";
    color: #c86bf0;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(14) {
  background-color: #4d0b6b; }
  ul.purple li:nth-child(14):hover:before {
    content: "#4d0b6b";
    color: #bf53ee;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(15) {
  background-color: #3d0853; }
  ul.purple li:nth-child(15):hover:before {
    content: "#3d0853";
    color: #b63cec;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(16) {
  background-color: #2c063c; }
  ul.purple li:nth-child(16):hover:before {
    content: "#2c063c";
    color: #ae25e9;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(17) {
  background-color: #1b0425; }
  ul.purple li:nth-child(17):hover:before {
    content: "#1b0425";
    color: #a216df;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(18) {
  background-color: #0a010e; }
  ul.purple li:nth-child(18):hover:before {
    content: "#0a010e";
    color: #9114c7;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(19) {
  background-color: black; }
  ul.purple li:nth-child(19):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.purple li:nth-child(20) {
  background-color: black; }
  ul.purple li:nth-child(20):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(10) {
  background-color: #848484; }
  ul.black li:nth-child(10):hover:before {
    content: "#848484";
    color: #1e1e1e;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(9) {
  background-color: #919191; }
  ul.black li:nth-child(9):hover:before {
    content: "#919191";
    color: #2b2b2b;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(8) {
  background-color: #9d9d9d; }
  ul.black li:nth-child(8):hover:before {
    content: "#9d9d9d";
    color: #373737;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(7) {
  background-color: #aaaaaa; }
  ul.black li:nth-child(7):hover:before {
    content: "#aaaaaa";
    color: #444444;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(6) {
  background-color: #b7b7b7; }
  ul.black li:nth-child(6):hover:before {
    content: "#b7b7b7";
    color: #515151;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(5) {
  background-color: #c4c4c4; }
  ul.black li:nth-child(5):hover:before {
    content: "#c4c4c4";
    color: #5e5e5e;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(4) {
  background-color: #d0d0d0; }
  ul.black li:nth-child(4):hover:before {
    content: "#d0d0d0";
    color: #6a6a6a;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(3) {
  background-color: #dddddd; }
  ul.black li:nth-child(3):hover:before {
    content: "#dddddd";
    color: #777777;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(2) {
  background-color: #eaeaea; }
  ul.black li:nth-child(2):hover:before {
    content: "#eaeaea";
    color: #848484;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(1) {
  background-color: #f7f7f7; }
  ul.black li:nth-child(1):hover:before {
    content: "#f7f7f7";
    color: #919191;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(11) {
  background-color: #6a6a6a; }
  ul.black li:nth-child(11):hover:before {
    content: "#6a6a6a";
    color: #d0d0d0;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(12) {
  background-color: #5e5e5e; }
  ul.black li:nth-child(12):hover:before {
    content: "#5e5e5e";
    color: #c4c4c4;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(13) {
  background-color: #515151; }
  ul.black li:nth-child(13):hover:before {
    content: "#515151";
    color: #b7b7b7;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(14) {
  background-color: #444444; }
  ul.black li:nth-child(14):hover:before {
    content: "#444444";
    color: #aaaaaa;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(15) {
  background-color: #373737; }
  ul.black li:nth-child(15):hover:before {
    content: "#373737";
    color: #9d9d9d;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(16) {
  background-color: #2b2b2b; }
  ul.black li:nth-child(16):hover:before {
    content: "#2b2b2b";
    color: #919191;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(17) {
  background-color: #1e1e1e; }
  ul.black li:nth-child(17):hover:before {
    content: "#1e1e1e";
    color: #848484;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(18) {
  background-color: #111111; }
  ul.black li:nth-child(18):hover:before {
    content: "#111111";
    color: #777777;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(19) {
  background-color: #040404; }
  ul.black li:nth-child(19):hover:before {
    content: "#040404";
    color: #6a6a6a;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }

ul.black li:nth-child(20) {
  background-color: black; }
  ul.black li:nth-child(20):hover:before {
    content: "black";
    color: #666666;
    font-family: verdana;
    font-size: 8px;
    padding: 2px; }
