$red: #BD143c;

$orange: saturate(lighten(adjust_hue($red, 39), 5), 7);
$yellow: saturate(lighten(adjust_hue($red, 64), 6), 13);
$green: saturate(lighten(adjust_hue($red, 102), 2), 11);
$blue: saturate(lighten(adjust_hue($red, 201), 2), 1);
$purple: saturate(lighten(adjust_hue($red, 296), 2), 1);
$black: #777;
$bgc: #fff;
@mixin swatchesDarken($color){
	@for $i from 1 through 10{
		$x: $i + 10;
		li:nth-child(#{$x}){
			$n: $i * 5;
			$bgc:darken($color, $n);
			background-color: $bgc;
			&:hover:before{
				content: '#{$bgc}';
				color: lighten($bgc, 40);
				font-family: verdana;
				font-size: 8px;
				padding: 2px;
			}
		}
	}
}
@mixin swatchesLighten($color){
	@for $i from 1 through 10{
		
		$calColor: $color;
		@debug $calColor;
		$x: 11-$i;
		li:nth-child(#{$x}){
			$n:$i * 5;
			$bgc: lighten($calColor, $n);
			background-color: $bgc;
			&:hover:before{
				content: '#{$bgc}';
				color: darken($bgc, 40);
				font-family: verdana;
				font-size: 8px;
				padding: 2px;
			}
		}
	}
}
$map: (red:$red, orange:$orange, yellow:$yellow, green:$green, blue:$blue, purple:$purple, black:$black);
.swatched{
	display:block;
	&:after{
		content: "";
	  display: block;
	  height: 0;
	  clear: both;
	  visibility: hidden;
	}
	li{
		width: 4.7619%;
		height: 60px;
		float: left;
		list-style: none outside none;
	}
	
}
@each $la, $co in $map{
		ul.#{$la}{
			@debug #{$co};
			@include swatchesLighten($co);
			@include swatchesDarken($co);
			
		}
	}